body {
  padding-top: 50px;
}

.explanation {
  padding: 20px 15px;
  text-align: left;
}

.request-info {
  padding: 20px 15px;
  text-align: left;
}

#content-area {
	width: 500px;
	height: 300px;
}

#path {
    width: 800px;
}

.guid-select {
    width: 350px;
}

.test-name {
    font-weight: bold;
}

.test-command {
    text-indent: 50px;
}

.command-success {
    color: green;
}

.command-fail {
    color: darkred;
}

.test-command-info {
    margin-left: 100px;
}